
.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}


.container-background {
    margin-top: 3%;
    padding-top: 10px;
    background-color: #ffffff;
    margin-bottom: 3%;
    border-radius: 12px;
}

.input-field {
    text-align: center;
    width: 100%;
}
