@font-face {
    font-family: 'Fenix';
    src: url('../tipografia/Fenix-Regular.ttf') format('opentype');
  }
  
  *{
    font-family: 'Fenix';
  }
     
      /*Categorias*/
      .container {
        width: 100%;
        display: grid;
        grid-gap: 30px;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
      }
      
      .inner-container2 {
        width: 320px;
        padding: 10px;
        margin: 6px;
        border: 1px solid #b028f9;
        text-align: center;
        border-radius: 20px;
        background-image: radial-gradient(circle at 50% -20.71%, #a4d8ec 0, #a7d7ef 6.25%, #abd6f1 12.5%, #b0d5f3 18.75%, #b5d3f4 25%, #bbd2f4 31.25%, #c1d0f4 37.5%, #c7cff3 43.75%, #cdcdf2 50%, #d3cbf0 56.25%, #d9caed 62.5%, #dec8ea 68.75%, #e3c7e7 75%, #e8c6e3 81.25%, #ecc5df 87.5%, #efc4da 93.75%, #f2c4d6 100%);
      }
      
      .image2 {
        width: 155px;
        height: 125px;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 8px;
        border: 1px solid #272825;
      }
      
      .inner-container p{
        font-size: 15px;
        font-style: italic;
      }
  
      #parf{
        font-size: 20px;
        text-align: justify;
        margin: 15px 70px;
      }