
.footer{
    margin-top: 20px;
    background: rgba(236, 138, 197, 0.83);
    padding: 15px 15px;
    position: relative;
    text-align: center;
    height: 100px;
  }

.footer img{
    margin: 0 8px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
  }
  
  .footer h5{
    font-weight: bold;
    clear: both;
     font-size: 20px;
  }

  
  
 
  
  