/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  /* Agrega aquí tus estilos para dispositivos móviles */
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
  /* Agrega aquí tus estilos para tabletas */
}

/* Estilos para pantallas de escritorio */
@media (min-width: 992px) {
  /* Agrega aquí tus estilos para pantallas de escritorio */
}
.footer{
    margin-top: 20px;
    background: #fcf75e;
    padding: 25px 15px;
    position: relative;
    text-align: right;
    height: 95px;
  }

  .footer img {
    margin: 0 2%;
    width: 10%;
    height: auto;
  }
  
.footer img{
    margin: 0 8px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
  }
  
  .footer h5{
    font-weight: bold;
    clear: both;
    float: left;
  }