.contenido {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    width: 90%;
   
}

.contus {
    padding: 12px;
    background-image: linear-gradient(120deg, #ffd05e 0, #ffc75c 25%, #ffbd5a 50%, #f8b358 75%, #f1aa56 100%);
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: left;
    min-width: 400px;
    margin: 4px;
}

.textous {
    margin-bottom: 10px;
}

.btonus {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4874e2e7;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

.botoneus{
    text-align: center;
}